* {
    box-sizing: border-box;
}

.container {
    background: gray;
    max-width: 640px;
    height: 400px;
    margin: 0 auto;
    padding: 20px;
}

button {
    border: 2px solid rgba(83, 80, 80, 0.74);
    margin-bottom: 20%;
    border-radius: 45%;
    width: 30px;
    height: 30px;
    opacity: 0.8;
}

.text-caption {
    position: absolute;
    top: 48%;
    width: 100%;
    padding: 0 450px;
    color: #FFF;
    font-size: 20px;
}

h1 {
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    margin: 0 0 ;
    padding-bottom: 10px;
}

.previous-btn {
    margin-left: 190px;
}

.next-btn {
    margin-right: 210px;
}

.carousel-images, .carousel-hidden {
    display: none;
    position: relative;
}

.carousel-visible {
    display: block;
    position: absolute;
}

.carousel-buttons {
    position: absolute;
    transform: translateY(-50%);
    top: 48%;
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding: 0 40px;
}
